@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
  background-image: linear-gradient(
    135deg,
    rgb(255, 255, 255) 0%,
    rgba(5, 30, 50, 0.8) 50%,
    rgba(39, 130, 107, 0.6) 100%
  );
  background-size: cover;
  background-attachment: fixed;
}

* {
  color: black !important;
}

a {
  color: black !important;
  text-decoration: none;
}

a:hover {
  color: #4fd1c5 !important; /* Tailwind cyan-300 */
}

href{
   color: black
}