@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  background-image: linear-gradient(
    135deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(5, 30, 50, 0.6) 50%,
    rgba(0, 50, 30, 0.4) 100%
  );
  background-size: cover;
  background-attachment: fixed;
}
